<div class="flex items-center justify-center p-4 sm:p-8 md:p-12">
  <div class="mx-auto w-full max-w-[90%] sm:max-w-[550px] bg-[#1E1E1E]">
    <div class="py-4 px-6 sm:py-6 sm:px-9">
      <div class="mb-4 sm:mb-6 pt-4">
        <label class="mb-3 sm:mb-5 block text-lg sm:text-xl font-semibold text-[#E5E7EB]">
          Upload File
        </label>

        <div class="mb-6 sm:mb-8">
          <input type="file" name="file" id="file" class="sr-only" (change)="onChange($event)" />
          <label
            for="file"
            class="relative flex min-h-[150px] sm:min-h-[200px] items-center justify-center rounded-md border border-dashed border-[#4B5563] p-6 sm:p-12 text-center"
            [class.border-blue-500]="isDragOver"
            (dragover)="onDragOver($event)" 
            (dragleave)="onDragLeave($event)" 
            (drop)="onDrop($event)"
          >
            <div>
              <span class="mb-2 block text-lg sm:text-xl font-semibold text-[#E5E7EB]">
                Drop files here
              </span>
              <span class="mb-2 block text-base font-medium text-[#9CA3AF]">
                Or
              </span>
              <span
                class="inline-flex rounded border border-[#4B5563] py-2 px-4 sm:px-7 text-base font-medium text-[#E5E7EB]"
              >
                Browse
              </span>
            </div>
          </label>
        </div>

        <div *ngIf="file" class="mb-4 sm:mb-5 rounded-md bg-[#374151] py-3 sm:py-4 px-6 sm:px-8">
          <div class="flex items-center justify-between">
            <span class="truncate pr-3 text-base font-medium text-[#E5E7EB]">
              {{ file.name }}
            </span>
            <button class="text-[#E5E7EB]" (click)="removeFile()">
              <svg
                width="10"
                height="10"
                viewBox="0 0 10 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0.279337 0.279338C0.651787 -0.0931121 1.25565 -0.0931121 1.6281 0.279338L9.72066 8.3719C10.0931 8.74435 10.0931 9.34821 9.72066 9.72066C9.34821 10.0931 8.74435 10.0931 8.3719 9.72066L0.279337 1.6281C-0.0931125 1.25565 -0.0931125 0.651788 0.279337 0.279338Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0.279337 9.72066C-0.0931125 9.34821 -0.0931125 8.74435 0.279337 8.3719L8.3719 0.279338C8.74435 -0.0931127 9.34821 -0.0931123 9.72066 0.279338C10.0931 0.651787 10.0931 1.25565 9.72066 1.6281L1.6281 9.72066C1.25565 10.0931 0.651787 10.0931 0.279337 9.72066Z"
                  fill="currentColor"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button
          class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-2 sm:py-3 px-6 sm:px-8 text-center text-base font-semibold text-white outline-none"
          (click)="onUpload()"
        >
          Analyze File
        </button>
      </div>
    </div>
  </div>
</div>